#root {
  margin: 0 auto;
  direction: rtl;
  /* text-align: center; */
}

/* btn */

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3b82f6;
  color: #fff;
  border-radius: 6px;
  padding: 0.8rem 1.2rem;
  transition: 0.3s all;
  font-weight: 700;
}
.btn:hover {
  background-color: #0e2447;
}

.btn span {
  margin-top: -3px;
}
/*  */

.app__container {
  /* padding-bottom: 2rem; */
}
#Icons {
  display: none;
}
main {
  margin-top: 10rem;
}
section {
  padding-bottom: 4rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.react {
  color: red;
}
.react:hover {
  color: blue;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 768px) {
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* last__seen */

.last__seen .container > .content > .side {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
}
.last__seen .content .right {
  flex-basis: 66.6%;
}
.last__seen .content .left {
  flex-basis: 33.33%;
}
.left__video {
  margin-top: 1rem;
  border: 1px solid #000;
}
.left__video img {
  width: 100%;
  height: 200px;
}
.poster img {
  width: 100%;
  border-radius: 10px;
}

/* special__post */
.special__post {
  background: rgb(22, 27, 42);
  padding-top: 4rem;
}
.special__post .TitleSection h2 {
  color: #fff;
}
.special__post .TitleSection h2::after,
.special__post .TitleSection h2::before {
  background-color: #ffffff;
  opacity: 0.8;
}
.special__post .side {
  display: flex;
}
.special__post .right {
  width: 69.7%;
}
.special__post .left {
  width: 30%;
  padding-right: 1rem;
}
.special__post .left .TitleSection {
  padding-bottom: 1.5rem;
}
.special__post .left .TitleSection h2,
.food__info .left .TitleSection h2 {
  font-size: 22px;
}
.special__post .title__box a {
  background-image: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 100%
  ) !important;
}

.socials__post {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2rem;
}
.socials__post > div {
  flex-basis: 50%;
}

/* food__info */

.food__info {
  padding: 3rem 0;
  background-color: #fbf8f5;
}
.food__info .side {
  display: flex;
}
.food__info .TitleSection {
  padding-bottom: 2rem;
}
.food__info .right {
  width: 66.4%;
}
.food__info .right .TitleSection {
  padding-bottom: 1rem;
}
.food__info .left {
  width: 30%;
  padding-right: 1rem;
}

/* food__box */

.food__info .food__box img {
  border-radius: 50%;
}
.food__info .btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
}
.food__info .btn {
  padding: 1rem 2.5rem;
  border-radius: 10px;
}

/* media */

@media screen and (max-width: 975px) {
  .food__blogs__content > div {
    flex-basis: 50% !important;
  }
  .nav__icons {
    display: none;
  }
  .nav {
    padding: 1rem !important;
  }
  /* last__seen */
  .side {
    flex-direction: column;
    align-items: center;
  }
  .food__intro {
    margin: auto 2rem;
  }
  .food__mini__box-col .food__intro,
  .mini__boxes--post .food__intro {
    margin-top: 3.5rem;
    gap: 3rem !important;
  }
  .food__intro a {
    font-size: 18px;
  }
  .socials__post > * {
    flex-grow: 1;
  }
  .left,
  .right {
    width: 100% !important;
    padding: 2rem !important;
  }
  .TitleSection {
    padding: 0 !important;
  }
  .category__container .content {
    margin: auto 2rem;
  }
  .photos__container {
    flex-wrap: wrap;
  }
  img {
    width: 100%;
  }
  .photos__container > div {
    flex-basis: 50% !important;
    flex-grow: 1;
  }
  .box__container .content {
    flex-direction: column !important;
    align-items: center;
  }
  .food__info-boxes .box__text {
    padding: 2rem !important;
  }
  .food__info-boxes .content {
    padding: 2rem;
  }
  /* footer__container */
  .footer__container .top .content {
    flex-direction: column;
    margin-right: 3rem;
    gap: 4rem;
  }
  .footer__container .bottom,
  .footer__container .bottom ul {
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem !important;
  }

  .footer__container .content > div {
    width: 100% !important;
  }

  /* food__info */

  .food__info .food__intro {
    margin: 0;
  }
  .box__text {
    padding-top: 10px !important;
  }
  .food__info-boxes .food__intro {
    margin: auto;
    width: 95%;
  }
  .btn__container {
    padding-top: 1rem !important;
  }
  .cat__box__container .content {
    margin: 0 !important;
  }
  .food__info-boxes img,
  .food__info-boxes .box__img {
    width: 240px !important;
    height: 240px !important;
    margin-top: 1rem;
  }
  .food__info-boxes .box__container,
  .food__info-boxes .content {
    padding: 0;
  }
}
@media screen and (max-width: 650px) {
  #Header {
    position: relative;
  }
  .food__blogs__content > div {
    flex-basis: 100% !important;
    padding: 0 1rem !important;
  }
  #Header nav ul > a {
    padding: 0.5rem;
    font-size: 14px;
  }
  #Header .btn {
    padding: 0.5rem;
  }
  #Tollbar {
    display: none;
  }
  main {
    margin-top: 2rem;
  }
  .food__intro > div {
    flex-grow: 1 !important;
    flex-basis: 100% !important;
  }
  .food__intro .box__container {
    padding: 2rem 0.5rem;
  }
  .food__intro .box__text {
    /* flex-direction: row; */
  }
  .TitleSection h2 {
    font-size: 22px;
    margin: auto 0.5rem;
  }
  .food__blogs__content .title__box a {
    font-size: 18px;
  }
  .container {
    padding: auto 1rem !important;
    /* max-width: 500px !important; */
  }
  .photos__container > div {
    flex-basis: 100% !important;
  }
}
